<mat-card class="example-card" *ngFor="let user of users">
  <mat-card-header>
    <mat-card-title>
      Username: {{user.username | titlecase}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="openUserCard(user.id)">Open card</button>
  </mat-card-actions>
</mat-card>
<mat-card class="mat-card">
  <mat-card-actions>
    <button mat-raised-button color="accent" (click)="addUser()">Add user</button>
  </mat-card-actions>
</mat-card>
