.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.example-card {
    width: 70%;
    //height: 800px;
    display: block;
    margin-left:auto;
    margin-right:auto;
    vertical-align:middle;
}

.active {
  color: black;
  background: white;
}
