<mat-toolbar color="accent">
  <span>
    <p>Lorem ipsum dolor sit amet.</p>
  </span>
  <span class="example-fill-remaining-space"></span>
  <button mat-button routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">
    Home
  </button>
  <button mat-button routerLinkActive="active" routerLink="/users">Users</button>
  <button *ngIf="!auth.isAuthenticated" mat-button routerLinkActive="active" routerLink="/login">Login</button>
  <button *ngIf="auth.isAuthenticated" mat-button (click)="logout()">Logout</button>
</mat-toolbar>

<mat-card class="example-card">
  <router-outlet></router-outlet>
</mat-card>


