:host {
  display: flex;
  justify-content: center;
  margin: 10px 10px 10px 10px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.successfully {
  padding: 16px;
  width: 300px;
  color: black;
  background-color: greenyellow;
}

.user-block {
  background: gainsboro;
}

.button {
  display: flex;
  justify-content: flex-end;
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}
