<mat-card class="user-block">
  <mat-card-title>User card</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="userName">
        </mat-form-field>
      </p>

      <p *ngIf="createMode">
        <mat-form-field>
          <input type="password" matInput placeholder="Password" formControlName="password">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="First name" formControlName="firstName">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Last name" formControlName="lastName">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </p>

      <p *ngIf="!createMode">
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Last Login"
            formControlName="lastLogin"
            readonly
          >
<!--          [value]="form.get('lastLogin').value | date:'short'"-->
        </mat-form-field>
      </p>

      <p *ngIf="errorMessage" class="error">
        {{ errorMessage }}
      </p>

      <p *ngIf="message" class="successfully">
        {{ message }}
      </p>

      <div class="button">
        <button mat-button routerLink="/users">Back</button>
        <span class="example-fill-remaining-space"></span>
        <button *ngIf="createMode" type="submit" mat-button [disabled]="form.invalid">Create User</button>
        <button *ngIf="!createMode" type="submit" mat-button>Save</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
